/* 
    Created on : Oct 24, 2017, 10:42:50 AM
    Author     : Horatiu Cristea-Lubinschi <horatiu.cristea@gmail.com>
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #f1f1f1;
}

h1, h2, h3 {
	font-style: inherit;
    margin-top: 28px;
	color: #172B4D;
	font-weight: bold;
}

h1 {
    font-size: 1.71428571em;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 1.16666667;
}

h2 {
	font-size: 1.42857143em;
    font-weight: 500;
    letter-spacing: -.008em;
    line-height: 1.2;
}

h3 {
    font-size: 1.14285714em;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -.006em;
    margin-top: 24px;
}

#chart {
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
}

.state-error+em {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #D56161;
}
.state-error+em.invalid {
    color: #d56161;
}
.state-error input {
	background: #fff0f0;
    border-color: #A90329;	
}
.state-error .form-control:focus {
	border-color: #A90329;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169,3,41,.6);
}

.well {
	background-color: #fbfbfb;
    border: 1px solid #ddd;
    border-radius: 3px;	
}

.well-blu {
    background-color: #f1f6fb;
    border: solid 1px #d0e5f8;
}

.select2-container .select2-selection--single {
	height: 34px
}
.select2-container--default .select2-selection--single {
	border-color: #ccc;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}